
body
{
	font-family: "Comic Sans MS", cursive, sans-serif;

}

h1
{
  font-size: 50px;
  color: red;
  margin-bottom: 0em;

}


.carousel-inner > .item > img,
 	.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height: 500px !important;

  }

#leftArrow
{
  height: 300px;
  top: 30%;
}

#rightArrow
{
  height: 300px;
  top: 30%;
}

#tag
{
  margin-left: 30%;
  font-size: 15px;
  margin-top:0px;
  color: red;
}


#jumbo
{
	padding: 0px;
	padding-bottom: 20px;
	color: red;
	
}

#NewIcon
{
	width: 75px;
	height: 75px;
}

.tab-content{

    padding:25px;
}

.nav-tabs > li > a{
  border: medium none;
  color: red;
}
.nav-tabs > li > a:hover{
  background-color: red !important;
 
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-pills > li > a{
  color: red;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.nav-pills .active a,
.nav-pills > li > a:hover{
  background-color: red !important;
 
    border: medium none;
    border-radius: 0;
    color:#fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.navbar-default
{

}

#products, #bevereges
{
  padding-top: 40px;
}